:root {
  --glass: rgba(255, 255, 255, 0.6);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.error-message {
  color: red; 
  font-size: 12px;
  margin-top: 5px;
}

.login-container {
  padding-left: 37%;
  padding-right: 35%;
  padding-top: 7%;
}

.signin {
  background-color: var(--glass); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 7px;
}

.reset-password-container {
  padding-left: 37%;
  padding-right: 35%;
  padding-top: 3%;
}

.reset-password {
  background-color: var(--glass); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 7px;
}

.logo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: cursive, fantasy;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.menu-item span {
  text-decoration: none;
  color: #333;
}

.menu-item span:hover {
  cursor: pointer;
  color: #2600ff;
}

#loader {
  padding: 2%;
  background-color: #2600ff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar {
  padding: 20px;
  width: 260px;
  background-color: var(--glass); 
  height: 100vh;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .login-container {
    height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 30%;
  }
}

.page-container {
  display: flex;
  align-items: stretch; /* Stretch both columns to the same height */
}

.sidebar-container {
  flex: 0 0 25%; /* Sidebar takes 25% of the available width */
  padding: 20px;
}

.content-container {
  flex: 1; /* Content takes the remaining width */
  padding: 20px;
  margin-left: 90px;
}



